:root {
    --main-text: #212E40;
    --text-drop: #212e40c0;
}

.navbar {
    /* background-color: rgba(245, 245, 245, 0.291); */
    background-image: linear-gradient(to left, rgba(245, 245, 245, 0.447), rgba(245, 245, 245, 0.5)) ;
}

.nav {
    margin-right: 20px;
}

.navbar-brand {
    font-size: 2rem;
    color: var(--main-text) !important;
}

.nav-link{
    color: var(--main-text) !important;
    text-decoration: none;
    font-size: 1.5rem;
    z-index: 100;
    transition: font-size .2s linear, filter .2s linear !important;
}

.nav-link:hover {
    font-size: 1.6rem;
    filter: drop-shadow(5px 5px 4px var(--text-drop));
}

button.navbar-toggler {
    border: none;
}

.navbar-text {
    margin-left: 20px;
    font-size: 2rem;
}

#x-out {
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--main-text);
    position: fixed;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 20px;
    z-index: 10;
    font-size: 1.5rem;
    transition: font-size .2s linear, filter .2s linear;
}

#x-out:hover {
    font-size: 1.6rem;
    filter: drop-shadow(5px 5px 4px var(--text-drop));
    cursor: pointer !important;
}