:root {
    --main-bg-grad: linear-gradient(to bottom right, #6393a6, #c2e5f2, #3D6D73);
    --scd-bg-grad: linear-gradient(to bottom right, #212E40, #3D6D73, #5D8AA6);
    --about-bg-grad: linear-gradient(to top, #3D6D73, #C2E5F2);
    --res-bg-grad: linear-gradient(to top left, #3d6d73, #6393A6, #6393A6);
    --proj-bg-grad: linear-gradient(to bottom left, #C2E5F2, #5D8AA6, #212E40);
    --main-text: #212E40;
    --text-drop: #212e40c0;
}

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

* {
    font-family: 'Quattrocento Sans', sans-serif;
    /* color: var(--main-text) !important; */
}

body {
    cursor: url('/portfolio/assets/cursor.png'), auto;
}

div.home-wrap {
    background-image: var(--main-bg-grad);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    cursor: pointer;
    animation: fade-in .6s linear both;
}

#logo {
    transition: transform 1s ease;
    z-index: 100;
    position: absolute;
}

#logo:hover {
    animation: spin 1.5s linear 0s infinite;
    cursor: grab;
}

#logo:active {
    cursor:  grabbing
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

#about {
    background-image: var(--about-bg-grad);
    min-height:100vh;
    min-width: 100vw;
    padding-bottom: 42px;
    display: none;
    animation: fade-in .6s linear both;
}

#headshot {
    border-radius: 30% 30% 0% 0%;
}

#resume {
    background-image: var(--res-bg-grad);
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 42px;
    display: none;
    animation: fade-in .6s linear both;
}

#res-link {
    color: var(--main-text) !important;
}

#res-link {
    text-decoration: none;
    transition: font-size .2s linear, filter .2s linear, color .2s linear !important;
}

#res-link:hover {
    font-size: 1.1em;
    filter: drop-shadow(5px 5px 4px var(--text-drop));
    color: blue !important;
}

img.resume-pages {
    width: 90%;
    display: none;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5)); 
}

img.resume-pages:first-of-type {
    display: block;
}

.bi {
    color: var(--main-text);
    transition: width  .2s linear, height .2s linear, filter .2s linear !important;
}

.bi:hover {
    height: 33px;
    width: 33px;
    filter: drop-shadow(5px 5px 4px var(--text-drop));
    cursor: pointer;
}

#projects {
    background-image: var(--proj-bg-grad) !important;
    min-height: 100vh;
    min-width: 100vw;
    display: none;
    animation: fade-in .6s linear both;
}

.card {
    width: 18rem;
    margin: auto;
    transition: width .2s linear, filter .2s linear;
}

.card:hover {
    width: 20rem;
    filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.5))
}

.card-body {
    background: rgba(255, 255, 255, 0.374);
}

#footer {
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.5)) ;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--main-text) !important;
    --bs-tooltip-color: white !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}