:root {
    --main-bg-grad: linear-gradient(to bottom right, #6393a6, #c2e5f2, #3D6D73);
    --scd-bg-grad: linear-gradient(to bottom right, #212E40, #3D6D73, #5D8AA6);
    --thd-bg-grad: linear-gradient(to bottom right, #5D8AA6, #3D6D73, )
}

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

* {
    font-family: 'Quattrocento Sans', sans-serif;
}




section.home-wrap {
    background-image: var(--main-bg-grad);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    cursor: pointer;
}

#logo {
    transition: transform 1s ease;
    z-index: 100;
}

#logo:hover {
    animation: spin 1.5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

#about {
    min-height: calc(100vh - 70px );
    min-width: 100vw;
    padding-bottom: 42px;
    display: none;
}

#headshot {
    border-radius: 30% 30% 0% 0%;
}

#resume {
    min-height: calc(100vh - 70px);
    min-width: 100vw;
    padding-bottom: 42px;
    display: none;
}

.carousel-container {
    border: 2px solid rosybrown;
    overflow: scroll;
}

img.resume-pages {
    border: 2px solid saddlebrown;
    width: 90%;
    display: none;
}

img.resume-pages:first-of-type {
    display: block;
}

#projects {
    min-height: calc(100vh - 70px );
    min-width: 100vw;
    display: none;
}

#footer {
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.5)) ;
}